@model IEnumerable<RentListingViewModel>
@{
    ViewData["Title"] = "Договори за наем:";
}

<h2>@ViewData["Title"]</h2>
<div>
    <a asp-controller="Rents" asp-action="Create" class="btn btn-success">Създаване на нов договор</a>
    <a href="javascript:window.history.back()" class="btn btn-default">Назад</a>
</div>

@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Клиент</th>
                        <th scope="col">Наем</th>
                        <th scope="col">Имоти</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rent in Model)
                    {
                        <tr>
                            <td>@rent.Client</td>
                            <td>@rent.MonthlyPrice.ToString("F2")</td>
                            <td>
                                <ul class="list-group">
                                    @foreach (var property in rent.Properties)
                                    {
                                        <li>@property</li>
                                    }
                                </ul>
                            </td>
                            @if (User.IsInRole("Manager"))
                            {
                                <td class="pull-right">
                                    <a asp-controller="Rents" asp-action="Details" asp-route-id="@rent.Id" class="btn btn-default">Детайли</a>
                                    <a asp-controller="Rents" asp-action="Edit" asp-route-id="@rent.Id" class="btn btn-info">Редактиране</a>                                    
                                    <a asp-area="Payments" asp-controller="MonthlyRent" asp-action="Create" asp-route-id="@rent.Id" class="btn btn-warning">Месечен наем</a>
                                    <a asp-controller="Rents" asp-action="Terminate" asp-route-id="@rent.Id" class="btn btn-danger">Прекратяване</a>

                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <h3>Няма активни договори</h3>
}

    
