@model CreatePropertyViewModel
@{
    ViewData["Title"] = "Създайте неджижимо имущество:";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
    <h3> Недвижимостта ще принадлежи на фирма: <strong class="bg-info"> &nbsp @Model.Name&nbsp </strong></h3>
    <div class="card-body">
        <h4 class="card-title">МОЛ: @Model.AccountablePerson </h4>
        <p class="card-text">Булстат: @Model.Bulstat  и адрес: @Model.Address</p>
        <div class="col-md-6 col-lg-6">
            <form method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PropertyName"></label>
                    <input asp-for="PropertyName" class="form-control" placeholder="Име на имота..." />
                    <span asp-validation-for="PropertyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Area"></label>
                    <input asp-for="Area" type="number" min="0" step="0.5" class="form-control" placeholder="Площ в кв.м..." />
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropertyAddress"></label>
                    <textarea asp-for="PropertyAddress" class="form-control" placeholder="Адрес на имота..."></textarea>
                    <span asp-validation-for="PropertyAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" placeholder="Описание на имота..."></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="Type"></label>
                    <select asp-for="Type" asp-items="@Html.GetEnumSelectList<PropertyType>()" id="type" class="form-control"> </select>
                </div>
                <input type="hidden" name="companyId" value="@Model.Id" />

                <button asp-action="Create" asp-controller="Properties" type="submit" class="btn btn-default btn-info">Създайте имот</button>
                <a href="javascript:window.history.back()" class="btn btn-info">Назад</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
