@model IEnumerable<CarWithPartsModel>

@{
    ViewData["Title"] = "All Cars With Their Parts";
}

<h2>@ViewData["Title"]</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Travelled Distance</th>
            <th> Parts</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
        <tr>
            <th>@car.Make</th>
            <th>@car.Model</th>
            <th>@(car.TravelledDistance/1000) KM</th>
            <th> 
                <ul>
                    @foreach (var part in car.Parts)
                    {
                         <li> @part.Name -$@part.Price.ToString("F2")</li>                        
                    }
                 </ul>
            </th>
        </tr>
        }
    </tbody>
    
</table>

