@model MonthlyPaymentStatisticView
@{
    ViewData["Title"] = "Добре дошли в старницата подпомагаща управлението на имотите ви";
}
<h3>@ViewData["Title"]</h3>

@*<a asp-controller="Dashboard" asp-action="GetPdf" class="btn btn-danger" target="_blank"> ТЕСТ ЗА ФАКТУРИ ПРОБА</a>*@


@if (User.IsInRole("Accountant") || User.IsInRole("Manager"))
{
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-danger">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Просрочени задължения от наеми и паркинг:
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                @await Component.InvokeAsync("OverdueRentsView", new { })
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Просрочени задължения на сметки за вода и ток:
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    @await Component.InvokeAsync("OverdueConsumablesView", new { })

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Филтър плащания на отдаваните под наем <strong>имоти и паркоместа:</strong>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                @await Component.InvokeAsync("RentsFilterView", new { })

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Филтър плащания на сметки за <strong>вода и ток:</strong>
</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

                @await Component.InvokeAsync("ConsumablesFilterView", new { })

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Статистика на приходите от предишен месец:
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">

                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <input asp-for="@Model.MonthToView" name="month" class="form-control col-md-4 col-lg-4" id="month" />
                    </div>
                    <div>
                        <button value="Sent date" class="btn btn-info" id="monthBtn">Изберете месец</button>
                    </div>
                </div>
                <div class="jumbotron">
                    <div class="row">


                        <div class="col-lg-3 col-md-3 text-right">Приходи от консумативи:</div>
                        <div class="col-lg-1 col-md-1" id="consum">@Model.TotalConsumablesPayment.ThousandsSeparate()</div>

                        <div class="col-lg-3 col-md-3 text-right">В брой:</div>
                        <div class="col-lg-1 col-md-1" id="cashConsum">@Model.ConsumablesInCash.ThousandsSeparate()</div>

                        <div class="col-lg-2 col-md-2 text-right">Месец:</div>
                        <div class="col-lg-2 col-md-2" id="viewMonth">@Model.MonthToView.ToString("yyyy-MM")</div>

                        <div class="col-lg-3 col-md-3 text-right">Приходи от имоти:</div>
                        <div class="col-lg-1 col-md-1" id="totalRent">@Model.TotalRentPayment.ThousandsSeparate()</div>

                        <div class="col-lg-3 col-md-3 text-right">В борй:</div>
                        <div class="col-lg-1 col-md-1" id="cashRent">@Model.RentInCash.ThousandsSeparate()</div>

                        <div class="col-lg-3 col-md-3 text-right">ДДС:</div>
                        <div class="col-lg-1 col-md-1" id="vat">@Model.VAT.ThousandsSeparate()</div>


                        <div class="col-lg-3 col-md-3 text-right">Приходи преден паркинг:</div>
                        <div class="col-lg-1 col-md-1" id="frontPark">@Model.IncomeFronParking.ThousandsSeparate()</div>

                        <div class="col-lg-3 col-md-3 text-right">Приходи заден паркинг:</div>
                        <div class="col-lg-1 col-md-1" id="backPark">@Model.IncomeBackParking.ThousandsSeparate()</div>

                        <div class="col-lg-3 col-md-3 text-right">Приходи без запазени:</div>
                        <div class="col-lg-1 col-md-1" id="noPark">@Model.IncomeNoReservedParking.ThousandsSeparate()</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        <p4>За достъп до пълната функционалност трябва да се регистрирате и да се обърнете към администратора на адрес: lubomir_78@abv.bg ,за да Ви бъде дадено съответното ниво на достъп!</p4>
        <h4>
            Кратка функционалност на сайта:
        </h4>
        <h5>
            Добавяне на <strong> фирма</strong>.
            <p>Достъпно за роля <strong> мениджър</strong></p>
        </h5>
        <h5>
            Добавяне,корекция, изтриване и възстановяване на <strong>клиент</strong>.
            <p>Достъпно за роля <strong>мениджър</strong></p>
        </h5>
        <h5>
            Добавяне,корекция, изтриване на <strong>имот</strong>, който е собственост на дадена фирма.
            <p>Достъпно за роля <strong>мениджър</strong></p>
        </h5>
        <h5>
            Добавяне,корекция, изтриване на <strong>договор за наем</strong>, към дадени имоти и клиент.
            <p>Достъпно за роля <strong>мениджър</strong></p>
        </h5>
        <h5>
            Добавяне,корекция, изтриване на <strong>плащания за наем и консумативи(ток, вода)</strong>, към договор за наем.
            <p>Достъпно за роля <strong>мениджър</strong></p>
        </h5>
        <h5>
            Осъществяване на <strong>плащане</strong>, по договор за наем.
            <p>Достъпно за роля <strong>мениджър или счетоводител</strong></p>
        </h5>
        <p>Ролите мениджър и счетоводител имат достъп и до всички справки за закъснели плащания или справки на месечна база.</p>
        <h4>
            За повече въпроси пишете на lubomir_78@abv.bg 
        </h4>

    </div>
}

@section Scripts{

    <script>
        $("#monthBtn").on('click', function () {
            var month = $("#month").val();

            $.ajax({
                type: "GET",
                url: "/Payments/Payments/MonthlyStatistic",
                data: { month: month },
                success: function (model) {
                    //console.log(model);
                    $("#totalRent").html(model.totalRentPayment);
                    $("#cashRent").html(model.rentInCash);
                    $("#vat").html(model.vat.toFixed(2));
                    $("#consum").html(model.totalConsumablesPayment);
                    $("#cashConsum").html(model.consumablesInCash);
                    $("#frontPark").html(model.incomeFronParking);
                    $("#backPark").html(model.incomeBackParking);
                    $("#noPark").html(model.incomeNoReservedParking);
                    $("#viewMonth").html(model.monthToView.substr(0, 7));
                }
            });
        });
    </script>
}

