@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<PaymentConsumablesListingModel>
@{
    ViewData["Title"] = "Всички плащания на консумативи";
}

@await Component.InvokeAsync("ConsumablesFilterView", new { })

<h2>@ViewData["Title"]</h2>

@if (Model != null && Model.Count() > 0)
{
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Платено</th>
                        <th scope="col">Платено на</th>
                        <th scope="col">Краен срок</th>
                        <th scope="col">Сметка ток</th>
                        <th scope="col">Сметка вода</th>
                        <th scope="col">Начин</th>
                        <th scope="col">Отразено от</th>
                        <th scope="col">Клент</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payment in Model)
                    {
                        <tr>
                            <td>@payment.Amount.ThousandsSeparate()</td>
                            <td>@payment.PaidOn.DateBgFormat()</td>
                            <td>@payment.DeadLine.DateBgFormat()</td>
                            <td>@payment.PaymentForElectricity.ThousandsSeparate()</td>
                            <td>@payment.PaymentForWater.ThousandsSeparate()</td>
                            <td>@(payment.CashPayment == true ? "В брой" : "Банка")</td>
                            <td>@payment.User</td>
                            <td>
                                <a asp-area="" asp-controller="Clients" asp-action="DetailsByName" asp-route-name="@payment.Client">@payment.Client</a>
                            </td>
                            <td class="pull-right">
                                <a asp-area="" asp-controller="Rents" asp-action="Details" asp-route-id="@payment.RentAgreementId" class="btn btn-default">Договор Детайли</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        @Html.PagedListPager(Model, page => Url.Action("IndexConsumables", new { page }))

        <a href="javascript:window.history.back()" class="btn btn-default pull-right">Назад</a>
    </div>
}
else
{
    <h3>Няма записи за плащания за консумативи</h3>
}