@model CompanyDetailsModel
@{
    ViewData["Title"] = "Edit Company Details";
}
<div>


<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-5 col-lg-5">
        <form method="post">
            <h3>Редактиране на фирма: @Model.Name</h3>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountablePerson"></label>
                <input asp-for="AccountablePerson" class="form-control" value="@Model.AccountablePerson" />
                <span asp-validation-for="AccountablePerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <textarea asp-for="Address" class="form-control">@Model.Address</textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bulstat"></label>
                <input asp-for="Bulstat" class="form-control" value="@Model.Bulstat" />
                <span asp-validation-for="Bulstat" class="text-danger"></span>
            </div>
            <button asp-action="Edit" asp-controller="Companies" type="submit" class="btn btn-default btn-success">Редактирайте</button>
            <button asp-action="Index" asp-controller="Companies" type="submit" class="btn btn-default btn-default">Назад</button>
        </form>
    </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
