@model IEnumerable<MonthlyRentListingModel>
@{
    ViewData["Title"] = "Чакащи задължения";

}

<h2>@ViewData["Title"]</h2>

<table class="table table-condensed table-striped table-hover">
    <thead class="info">
        <tr>
            <th scope="col">Краен срок</th>
            <th scope="col">Клиент</th>
            <th scope="col">Дължима сума</th>
            <th scope="col">Имоти</th>
            <th scope="col">Извършванен на плащане</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rent in Model)
        {
            string rowColor;
            if (rent.DeadLine <= DateTime.UtcNow)
            {
                rowColor = "danger";
            }
            else
            {
                rowColor = "";
            }
            <tr class="@rowColor">
                <td>@rent.DeadLine.ToShortDateString()</td>
                <td>@rent.Client</td>
                <td>@rent.TotalPayment.ToString("F2") лв</td>
                <td>@String.Join(", ", rent.Properties)</td>
                <td>
                    <form asp-controller="Payments" asp-action="Pay" method="post" class="form-inline">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <div class="input-group">
                            @*<label asp-for="@rent.Payment"></label>*@
                            <div class="input-group-addon">BGN</div>
                            <input asp-for="@rent.Payment" name="payment" value="@rent.TotalPayment" class="form-control" />
                            <span asp-validation-for="@rent.Payment" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@rent.CreaetNextMonth"></label>
                            <input asp-for="@rent.CreaetNextMonth" name="nextMonth" />
                        </div>
                        <div class="form-group ">
                            <label asp-for="@rent.CashPayment"></label>
                            <input asp-for="@rent.CashPayment" name="cashPayment" />
                        </div>
                        <input type="hidden" name="monthlyRentId" value="@rent.Id" />
                        <input type="hidden" name="totalLeft" value="@rent.TotalPayment" />

                        <input type="submit" value="Плати" class="btn btn-success" />

                    </form>
                </td>
                <td>
                    <a asp-controller="MonthlyRent" asp-action="Edit" asp-route-id="@rent.Id" class="btn btn-default ">Редакция</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}