@model IEnumerable<MonthlyRentListingModel>
@{
    ViewData["Title"] = "Чакащи задължения";

}

<h2>@ViewData["Title"]</h2>

<section id="loadingBox" class="notification">Зареждане ...</section>

<section id="infoBox" class="notification">Информация</section>

<table class="table table-condensed table-striped table-hover">
    <thead class="info">
        <tr>
            <th scope="col" class="col-md-1">Краен срок</th>
            <th scope="col" class="col-md-1">Клиент</th>
            <th scope="col" class="col-md-2">Имоти и детайли</th>
            <th scope="col" class="col-md-1">Паркоместа / Наем</th>
            <th scope="col" class="col-md-2">Номер на фактура</th>
            <th scope="col" class="col-md-5">Дата на плащане сума и начин</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rent in Model)
        {
            string rowColor;
            if (rent.DeadLine <= DateTime.UtcNow)
            {
                rowColor = "danger";
            }
            else
            {
                rowColor = "";
            }

            <tr class="@rowColor">
                <td>@rent.DeadLine.DateBgFormat()</td>
                <td>
                    <a asp-area="" asp-controller="Clients" asp-action="DetailsByName" asp-route-name="@rent.Client"><strong>@rent.Client</strong></a>
                </td>
                <td>
                    <a asp-area="" asp-controller="Rents" asp-action="Details" asp-route-id="@rent.RentAgreementId">
                        @(rent.Properties.Any() ? string.Join(", ", rent.Properties) : "Само паркоместа")
                    </a>
                </td>
                <td>
                    <div>
                        @rent.ParkingSlotQuantity места
                    </div>
                    <div>
                        <strong> @rent.TotalPayment.ThousandsSeparate()</strong>
                    </div>
                </td>
                <td>
                    @if (User.IsInRole("Manager"))
                    {
                        <div>
                            <div class="col-md-9">
                                <input value="@(rent.InvoiceNumber == null ? "00000" : @rent.InvoiceNumber.ToString())"
                                       type="text" style="width:90px" class="form-control input-invoice" />
                            </div>
                            <button id="@rent.Id" class="btn btn-success btn-invoice edit-rent-btn">
                                <i class="fas fa-check"></i>
                            </button>

                        </div>
                    }
                    else
                    {
                        <div class="text-left">
                            <strong>
                                @(rent.InvoiceNumber == null ?
                                    "Няма номер" :
                                    "№ " + @rent.InvoiceNumber.ToString())

                            </strong>
                        </div>
                    }
                </td>
                <td>
                    <div class="col-md-11 form-rent">
                        <form asp-controller="Payments" asp-action="Pay" method="post" class="form-inline form-rent">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="@rent.PaidOn" name="paidOn" class="form-control formdate" />
                            </div>
                            <div class="form-group">
                                <input asp-for="@rent.Payment" name="payment" value="@rent.TotalPayment" class="form-control form-money" />
                                <span asp-validation-for="@rent.Payment" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@rent.CashPayment"></label>
                                <input asp-for="@rent.CashPayment" name="cashPayment" />
                            </div>
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-check"></i>
                            </button>
                            <input type="hidden" name="monthlyRentId" value="@rent.Id" />
                            <input type="hidden" name="totalLeft" value="@rent.TotalPayment" />
                        </form>

                    </div>
                    @if (User.IsInRole("Manager"))
                    {
                        <div class="col-md-1 ">
                            <form asp-area="Payments" asp-controller="MonthlyRent" asp-action="Edit" asp-route-id="@rent.Id" class="form-inline" method="get">
                                <button type="submit" class="btn btn-primary edit-rent-btn">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </form>
                        </div>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $('.btn-invoice').on('click', function () {
            const id = $(this).attr('id');
            let invoiceNumber = $(this).prev().find('input').val();

            if (isInt(invoiceNumber)) {
                invoiceNumber = parseInt(invoiceNumber, 10);
                $.ajax({
                    method: "Get",
                    url: "/Payments/MonthlyRent/SetInvoiceNumber",
                    data: {
                        id: id,
                        invoiceNumber: invoiceNumber
                    }
                })
                    .then(showInfo(`Успешно въведена фактура номер: ${invoiceNumber}`))
                    .catch((err) => console.log(err));

            } else {
                handleError();
            }
        });

        function handleError() {
            alert("Деси въведи цяло число!")
        }

        function isInt(value) {
            var x = parseFloat(value);
            return !isNaN(value) && (x | 0) === x;
        }

        $(document).on({
            ajaxStart: () => $("#loadingBox").show(),
            ajaxStop: () => $('#loadingBox').fadeOut()
        });

        function showInfo(message) {
            let infoBox = $('#infoBox');
            infoBox.text(message);
            infoBox.show();
            setTimeout(() => infoBox.fadeOut(), 3000);
        }

    </script>
}
