@model IEnumerable<MonthlyRentListingModel>
@{
    ViewData["Title"] = "Чакащи задължения";

}

<h2>@ViewData["Title"]</h2>

<table class="table table-condensed table-striped table-hover">
    <thead class="info">
        <tr>
            <th scope="col">Краен срок</th>
            <th scope="col">Клиент</th>
            <th scope="col">Дължима сума</th>
            <th scope="col">Имоти</th>
            <th scope="col">Паркоместа</th>
            <th scope="col">Плащане</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rent in Model)
        {
            string rowColor;
            if (rent.DeadLine <= DateTime.UtcNow)
            {
                rowColor = "danger";
            }
            else
            {
                rowColor = "";
            }
            <tr class="@rowColor">
                <td>@rent.DeadLine.DateBgFormat()</td>
                <td>
                    <a asp-area="" asp-controller="Clients" asp-action="DetailsByName" asp-route-name="@rent.Client"><strong>@rent.Client</strong></a>
                </td>
                <td>@rent.TotalPayment.ThousandsSeparate() лв</td>
                <td>@String.Join(", ", rent.Properties)</td>
                <td class="text-center">@rent.ParkingSlotQuantity</td>                
                <td>
                    <form asp-controller="Payments" asp-action="Pay" method="post" class="form-inline">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group ">
                            <label asp-for="@rent.PaidOn">Дата:</label>
                            <input asp-for="@rent.PaidOn" name="paidOn" class="form-control"/>
                        </div>
                        <div class="form-group  col-md-4 col-lg-4">
                            <div class="input-group">
                                <div class="input-group-addon">BGN</div>
                                <input asp-for="@rent.Payment" name="payment" value="@rent.TotalPayment" class="form-control" />
                                <span asp-validation-for="@rent.Payment" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label asp-for="@rent.CashPayment"></label>
                            <input asp-for="@rent.CashPayment" name="cashPayment" />
                        </div>
                        <input type="hidden" name="monthlyRentId" value="@rent.Id" />
                        <input type="hidden" name="totalLeft" value="@rent.TotalPayment" />
                        <input type="submit" value="Платено" class="btn btn-success" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}