@model IEnumerable<ClientListingModel>
@{
    ViewData["Title"] = "Активни Клиенти";
}

<h2>@ViewData["Title"]</h2>
<div class=" col-md-12 col-lg-12">
    <h4>
        <a asp-action="Create" class="btn btn-success ">Нов клиент</a>
        <a href="javascript:window.history.back()" class="btn btn-default">Назад</a>
        <a asp-action="Resurect" class="btn btn-default ">Неактивни клиенти</a>
    </h4>
    @if (Model.Any())
    {
        <table class="table table-condensed table-striped table-hover">
            <thead class="info">
                <tr>
                    <th scope="col">Име</th>
                    <th scope="col">Булстат</th>
                    <th scope="col">Леце за контакти</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Email</th>
                    <th scope="col" class="pull-right">Действие</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in @Model)
                {
                    <tr>
                        <td>@client.Name</td>
                        <td>@client.Bulstat</td>
                        <td>@client.ContactName</td>
                        <td>@client.Telephone</td>
                        <td>@client.Email</td>
                        <td class="pull-right">
                            @if (User.IsInRole("Manager"))
                            {
                                <a asp-controller="Clients" asp-action="Edit" asp-route-id="@client.Id" class="btn btn-info ">Редактирай</a>
                            }
                            <a asp-controller="Clients" asp-action="Details" asp-route-id="@client.Id" class="btn btn-primary ">Детайли</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>Няма активни клиенти</h2>
    }
</div>