@model CourseDetailsViewModel

@{
    ViewData["Title"] = $"Course {Model.Course.Name}";
}

<h2>@ViewData["Title"] - @Model.Course.Stiudents students enrolled</h2>

<h3>Trainer: @Model.Course.Trainer</h3>

<h3>From @Model.Course.StartDate.ToShortDateString() to @Model.Course.EndDate.ToShortDateString() </h3>

@if (User.Identity.IsAuthenticated)
{
    if (Model.Course.StartDate > DateTime.UtcNow)
    {
        if (Model.UserIsEnrolledInCourse)
        {

            <form asp-action="SignOut" asp-route-id="@Model.Course.Id" method="post">
                <input type="submit" class=" btn btn-primary" value="Sign Out" />
            </form>
        }
        else
        {
            <form asp-action="SignUp" asp-route-id="@Model.Course.Id" method="post">
                <input type="submit" class=" btn btn-primary" value="Sign Up" />
            </form>
        }
    }
    else
    {
        <span>This course has already started.</span>
    }
}
else
{
    <span>
        To sign in this course, please
        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">login</a>
        into your account
    </span>
}

<h3>
    @Model.Course.Description
</h3>

