@model IEnumerable<SaleListModel>

@{
    ViewData["Title"] = "All Sales";
}

<h2>@ViewData["Title"]</h2>
<table class="table table-bordered table-hover">
    <thead class="bg-primary">
        <tr>            
            <th>Customer Name</th>
            <th>Discount</th>
            <th>Price</th>
            <th>Discounted Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sale in Model)
        {
            <tr>                
                <td>@sale.CustomerName</td>
                <td>@((sale.Discount+(sale.IsYoungDriver?0.05:0)).ToString("F2"))</td>
                <td>@sale.Price</td>
                <td>@sale.DiscountedPrice.ToString("F2") %</td>
                <td class="text-center" >
                    <a class="btn btn-sm btn-default" href="/sales/@sale.Id">More Datails</a>
                </td>
            </tr>
        }
    </tbody>
</table>

